In [12]:
import pandas as pd
path = "Resources/purchase_data.csv"
pdpath = pd.read_csv(path)

#creating empty lists
unique_player = []
unique_item = []
total_purchased_item = []
average_purchase_price = []
total_revenue = []

In [7]:
# storing unique total players on a list. Then we can do the length of the list, to find out how many unique players
unique_player = pdpath["SN"].unique()
len(unique_player)

In [27]:
#storing unique Items on a list. Then we can do the length of the list, to find out how many unique items
unique_item = pdpath["Item Name"].unique()
#len(unique_item)

In [18]:
#storing all purchases into a list. Then we can do calculations to find the total revenue, average purchase price,
# and number of purchases.
total_purchased_item = pdpath["Price"]
# Total revenue
total_purchased_item.sum()
# average price, rounding to 2 dec. points, and also $ format.
average_purchase_price = "${:,.2f}".format(total_purchased_item.mean())
# number of purchases. this is just the length
len(total_purchased_item)

In [35]:
#total revenue
total_revenue = "${:,.2f}".format(total_purchased_item.sum())

In [38]:
# creating a new dataframe for (PURCHASING ANALYSIS)
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [len(unique_item)],
                          "Average Purchase Price": [average_purchase_price],
                       "Total Number of Purchases": [len(total_purchased_item)],
                       "Total Revenue":[total_revenue]
                          }
)

In [102]:
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [91]:
#create a dataframe with: unique players, gender
gender_df = pd.DataFrame({"Player": pdpath["SN"],
                          "Gender": pdpath["Gender"]},
                            )

In [92]:
#dropping/filtering by UNIQUE Player:
gender_df.drop_duplicates(subset = "Player", keep = "first", inplace = True)

In [93]:
# creating a "Gender Demographics" dataframe
gender_demo_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                          "Total Count": [len(gender_df[gender_df["Gender"]=="Male"]), len(gender_df[gender_df["Gender"]=="Female"]), len(gender_df[gender_df["Gender"]=="Other / Non-Disclosed"])],
                               "Percentage of Players": ["{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Male"])/len(gender_df["Gender"])*100)),"{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Female"])/len(gender_df["Gender"])*100)), "{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Other / Non-Disclosed"])/len(gender_df["Gender"])*100))]
                             })

In [100]:
#Putting GENDER as Index
gender_demo_df = gender_demo_df.set_index("Gender")

In [103]:
gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [ ]:
# creating a "Purchasing Analysis (Gender)" dataframe
purchasing_analysis_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
      "Purchase Count":[]                                 
    
    
    
})

In [107]:
len(pdpath.loc[pdpath["Gender"]=="Male",["Price"]])

652