In [1]:
import pandas as pd
path = "Resources/purchase_data.csv"
pdpath = pd.read_csv(path)
#a copy of pathpd
pdpath2 = pd.read_csv(path)

#creating empty lists
unique_player = []
unique_item = []
total_purchased_item = []
average_purchase_price = []
total_revenue = []

In [2]:
# storing unique total players on a list. Then we can do the length of the list, to find out how many unique players
unique_player = pdpath["SN"].unique()
#store the length of unique_player in a dataframe

unique_player_df = pd.DataFrame({"Total Players":[len(unique_player)]})
unique_player_df

   Total Players
0            576

In [3]:
#storing unique Items on a list. Then we can do the length of the list, to find out how many unique items
unique_item = pdpath["Item Name"].unique()
#len(unique_item)

In [5]:
#storing all purchases into a list. Then we can do calculations to find the total revenue, average purchase price,
# and number of purchases.
total_purchased_item = pdpath["Price"]
# Total revenue
total_purchased_item.sum()
# average price, rounding to 2 dec. points, and also $ format.
average_purchase_price = "${:,.2f}".format(total_purchased_item.mean())
# number of purchases. this is just the length

In [6]:
#total revenue
total_revenue = "${:,.2f}".format(total_purchased_item.sum())

In [7]:
# creating a new dataframe for (PURCHASING ANALYSIS)
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [len(unique_item)],
                          "Average Purchase Price": [average_purchase_price],
                       "Total Number of Purchases": [len(total_purchased_item)],
                       "Total Revenue":[total_revenue]
                          }
)

In [8]:
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [9]:
#create a dataframe with: unique players, gender
gender_df = pd.DataFrame({"Player": pdpath["SN"],
                          "Gender": pdpath["Gender"],
                        "Age": pdpath["Age"]
                         })

In [10]:
#dropping/filtering by UNIQUE Player:
gender_df.drop_duplicates(subset = "Player", keep = "first", inplace = True)

In [11]:
# creating a "Gender Demographics" dataframe
gender_demo_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                          "Total Count": [len(gender_df[gender_df["Gender"]=="Male"]), len(gender_df[gender_df["Gender"]=="Female"]), len(gender_df[gender_df["Gender"]=="Other / Non-Disclosed"])],
                               "Percentage of Players": ["{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Male"])/len(gender_df["Gender"])*100)),"{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Female"])/len(gender_df["Gender"])*100)), "{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Other / Non-Disclosed"])/len(gender_df["Gender"])*100))]
                             })

In [12]:
#Putting GENDER as Index
gender_demo_df = gender_demo_df.set_index("Gender")

In [13]:
gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [14]:
#instead of doing all the calculations in/on the dataframe creation, We are storing each individual calculated
# values into a list, then storing the list into the dataframe

#creating a list for Female's Average purchase price. formatting will put the $ AND 2 decimal points.
female_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Female",["Price"]])))

#creating a list for male's Average purchase price. formatting will put the $ AND 2 decimal points.
male_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Male",["Price"]])))

#creating a list for other gender's Average purchase price. formatting will put the $ AND 2 decimal points.
other_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]])))

#creating female's total purchase value:
female_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()))

#creating male's total purchase value:
male_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()))

#creating other gender's total purchase value:
other_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()))

#creating female's average total purchase per PERSON: 
#NOTE: we are dividing the total purchase value of ALL female by the UNIQUE count of all female.
# this will be the same while calculating male and other gender's average total purchase per person.
# we are pulling the unique count of gender FROM the "gender_df" dataframe, because it already filtered the unique value.
female_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Female"])))

#now doing it for male and other gender:
male_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Male"])))
other_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Other / Non-Disclosed"])))

# now that all the variables have been set, we can finally create a dataframe to hold all the values.
# creating a "Purchasing Analysis (Gender)" dataframe
purchasing_analysis_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
      "Purchase Count":[len(pdpath.loc[pdpath["Gender"]=="Female",["Price"]]), len(pdpath.loc[pdpath["Gender"]=="Male",["Price"]]), len(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]])],
      "Average Purchase Price":[female_avg_purchase_price,male_avg_purchase_price,other_avg_purchase_price],
      "Total Purchase Value":[female_total_purchase,male_total_purchase,other_total_purchase],
      "Avg Total Purchase per Person":[female_avg_purc_perperson,male_avg_purc_perperson,other_avg_purc_perperson]
    
})

In [15]:
#Putting GENDER as Index
purchasing_analysis_df = purchasing_analysis_df.set_index("Gender")
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,113,$3.20,$361.94,$4.47
Female,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [16]:
# creating a copy of the dataframe (gender_df), which already filter the unique user
gender_df2 = pd.DataFrame(gender_df)

#creating a new column in that dataframe, that has the percentage value. so each player has the same amount of percentage.
gender_df2["Percentage of Players"] = 1/576

In [17]:
# for Age Demographics analysis, we need to establish Age bin list
age_bin = [0,9,14,19,24,29,34,39,100]
age_group = ["Less than 10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#creating a new dataframe to store AgeDemographics 
AgeDemographics = pd.DataFrame(gender_df2)
AgeDemographics["Age Ranges"] = pd.cut(AgeDemographics["Age"], age_bin, labels=age_group, include_lowest=True)

#creating a new list to hold the "age ranges" on the groupby:
test_list = AgeDemographics.groupby("Age Ranges")

#creating a new dataframe to hold the values:
test_df2 = pd.DataFrame(test_list.count().head(8))

#creating a new dataframe to hold the percentage of players
test_df3 = pd.DataFrame(test_list["Percentage of Players"].sum())
test_df3["Percentage of Players"] = test_df3["Percentage of Players"]

#now compiling different columns from different dataframes:
age_demographics_df = pd.DataFrame({"Total Count":(test_df2["Player"]),
                         "Percentage of Players":(test_df3["Percentage of Players"].map("{:,.2%}".format))
    })

#printing Age Demographics
age_demographics_df

              Total Count Percentage of Players
Age Ranges
Less than 10           17                 2.95%
10-14                  22                 3.82%
15-19                 107                18.58%
20-24                 258                44.79%
25-29                  77                13.37%
30-34                  52                 9.03%
35-39                  31                 5.38%
40+                    12                 2.08%

In [18]:
#creating a new dataframe to store Purchasing Analysis(age), using the original dataframe

age_purchase_analysis1 = pd.DataFrame(pdpath)

#binning, using the age ranges (already created previously):
age_purchase_analysis1["Age Ranges"] = pd.cut(age_purchase_analysis1["Age"], age_bin, labels=age_group, include_lowest=True)

#in order to use the group by:
test1 = age_purchase_analysis1.groupby("Age Ranges")

#create a new dataframe to hold all the values
age_purchase_analysis = pd.DataFrame({  "Purchase Count":test1["Purchase ID"].count(),
                                        "Average Purchase Price": test1["Price"].mean(),
                                      "Total Purchase Value": test1["Price"].sum(),
                                      "Avg Total Purchase per Person": test1["Price"].sum()/test_list["Player"].count()
                                     })

#formating the $ sign and rounding to 2 decimal points.
age_purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

In [19]:
# in order to pull data from the original csv file. I created a copy called pdpath2.
# storing groupby (screen name/player) in a list
list1 = pdpath2.groupby(["SN"])
#storing total purchase count into a list (The column can be any of the column. It can be Age, Price, etc.)
purchase_count = list1["Age"].count()
#storing mean/average purchase price. (this time, it needs to be on the Price column)
purchase_average = list1["Price"].mean()
#storing the total purchases by player
purchase_total = list1["Price"].sum()

#now that we have all the data in different list, we can combined into a new dataframe:
Top_Spender_Analysis = pd.DataFrame({"Purchase Count":purchase_count,
                                     "Average Purchase Price": purchase_average,
                                     "Total Purchase Value": purchase_total })

#now we have to sort by purchase count
Top_Spender_Analysis = Top_Spender_Analysis.sort_values(["Purchase Count"],ascending=False)

In [20]:
#formating the $ sign and rounding to 2 decimal points.
Top_Spender_Analysis.head().style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})

In [21]:
# storing groupby (Item ID AND Item Name) in a list
list2 = pdpath2.groupby(["Item ID", "Item Name"])

#putting purchase count in a list
pop_item_purchase_count = list2["Purchase ID"].count()

#putting total purchase value in a list
pop_item_total_purchase = list2["Price"].sum()

#putting item price into a list
pop_item_price = list2["Price"].sum() / list2["Price"].count()

#putting all the values/columns into a dataframe
most_pop_items = pd.DataFrame({"Purchase Count":pop_item_purchase_count,
                               "Item Price": pop_item_price,
                               "Total Purchase Value":pop_item_total_purchase    
})

#sorting the dataframe by purchase count:
most_pop_items = most_pop_items.sort_values(["Purchase Count"],ascending=False)

#formatting the prices with Dollaahh sign and 2 decimal points:
most_pop_items.head().style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})

In [22]:
#for most profitable items, we can use the same dataframe previously, and then just sort by total purchase value:
most_profitable_items = most_pop_items.sort_values(["Total Purchase Value"],ascending=False)

#formatting the prices with Dollaahh sign and 2 decimal points:
most_profitable_items.head().style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})