In [12]:
import pandas as pd
path = "Resources/purchase_data.csv"
pdpath = pd.read_csv(path)

#creating empty lists
unique_player = []
unique_item = []
total_purchased_item = []
average_purchase_price = []
total_revenue = []

In [7]:
# storing unique total players on a list. Then we can do the length of the list, to find out how many unique players
unique_player = pdpath["SN"].unique()
len(unique_player)

In [27]:
#storing unique Items on a list. Then we can do the length of the list, to find out how many unique items
unique_item = pdpath["Item Name"].unique()
#len(unique_item)

In [18]:
#storing all purchases into a list. Then we can do calculations to find the total revenue, average purchase price,
# and number of purchases.
total_purchased_item = pdpath["Price"]
# Total revenue
total_purchased_item.sum()
# average price, rounding to 2 dec. points, and also $ format.
average_purchase_price = "${:,.2f}".format(total_purchased_item.mean())
# number of purchases. this is just the length
len(total_purchased_item)

In [35]:
#total revenue
total_revenue = "${:,.2f}".format(total_purchased_item.sum())

In [38]:
# creating a new dataframe for (PURCHASING ANALYSIS)
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [len(unique_item)],
                          "Average Purchase Price": [average_purchase_price],
                       "Total Number of Purchases": [len(total_purchased_item)],
                       "Total Revenue":[total_revenue]
                          }
)

In [102]:
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [179]:
#create a dataframe with: unique players, gender
gender_df = pd.DataFrame({"Player": pdpath["SN"],
                          "Gender": pdpath["Gender"],
                        "Age": pdpath["Age"]
                         })

In [181]:
#dropping/filtering by UNIQUE Player:
gender_df.drop_duplicates(subset = "Player", keep = "first", inplace = True)

In [93]:
# creating a "Gender Demographics" dataframe
gender_demo_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                          "Total Count": [len(gender_df[gender_df["Gender"]=="Male"]), len(gender_df[gender_df["Gender"]=="Female"]), len(gender_df[gender_df["Gender"]=="Other / Non-Disclosed"])],
                               "Percentage of Players": ["{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Male"])/len(gender_df["Gender"])*100)),"{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Female"])/len(gender_df["Gender"])*100)), "{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Other / Non-Disclosed"])/len(gender_df["Gender"])*100))]
                             })

In [100]:
#Putting GENDER as Index
gender_demo_df = gender_demo_df.set_index("Gender")

In [103]:
gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [173]:
#instead of doing all the calculations in/on the dataframe creation, We are storing each individual calculated
# values into a list, then storing the list into the dataframe

#creating a list for Female's Average purchase price. formatting will put the $ AND 2 decimal points.
female_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Female",["Price"]])))

#creating a list for male's Average purchase price. formatting will put the $ AND 2 decimal points.
male_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Male",["Price"]])))

#creating a list for other gender's Average purchase price. formatting will put the $ AND 2 decimal points.
other_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]])))

#creating female's total purchase value:
female_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()))

#creating male's total purchase value:
male_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()))

#creating other gender's total purchase value:
other_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()))

#creating female's average total purchase per PERSON: 
#NOTE: we are dividing the total purchase value of ALL female by the UNIQUE count of all female.
# this will be the same while calculating male and other gender's average total purchase per person.
# we are pulling the unique count of gender FROM the "gender_df" dataframe, because it already filtered the unique value.
female_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Female"])))

#now doing it for male and other gender:
male_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Male"])))
other_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Other / Non-Disclosed"])))

# now that all the variables have been set, we can finally create a dataframe to hold all the values.
# creating a "Purchasing Analysis (Gender)" dataframe
purchasing_analysis_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
      "Purchase Count":[len(pdpath.loc[pdpath["Gender"]=="Female",["Price"]]), len(pdpath.loc[pdpath["Gender"]=="Male",["Price"]]), len(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]])],
      "Average Purchase Price":[female_avg_purchase_price,male_avg_purchase_price,other_avg_purchase_price],
      "Total Purchase Value":[female_total_purchase,male_total_purchase,other_total_purchase],
      "Avg Total Purchase per Person":[female_avg_purc_perperson,male_avg_purc_perperson,other_avg_purc_perperson]
    
})

In [175]:
#Putting GENDER as Index
purchasing_analysis_df = purchasing_analysis_df.set_index("Gender")
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,113,$3.20,$361.94,$4.47
Female,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
# for Age Demographics analysis, we need to establish Age bin list
age_bin = [<11, 11-20, 21-30, >30]

In [186]:
len(gender_df.loc[gender_df["Age"]<10])

17

In [187]:
len(gender_df.loc[gender_df["Age"]])

576

In [188]:
len(gender_df.loc[gender_df["Age"]<10])/len(gender_df.loc[gender_df["Age"]])

0.029513888888888888