In [19]:
import pandas as pd
path = "Resources/purchase_data.csv"
pdpath = pd.read_csv(path)
pdpath2 = pd.read_csv(path)

#creating empty lists
unique_player = []
unique_item = []
total_purchased_item = []
average_purchase_price = []
total_revenue = []

In [2]:
# storing unique total players on a list. Then we can do the length of the list, to find out how many unique players
unique_player = pdpath["SN"].unique()
len(unique_player)

576

In [3]:
#storing unique Items on a list. Then we can do the length of the list, to find out how many unique items
unique_item = pdpath["Item Name"].unique()
#len(unique_item)

In [4]:
#storing all purchases into a list. Then we can do calculations to find the total revenue, average purchase price,
# and number of purchases.
total_purchased_item = pdpath["Price"]
# Total revenue
total_purchased_item.sum()
# average price, rounding to 2 dec. points, and also $ format.
average_purchase_price = "${:,.2f}".format(total_purchased_item.mean())
# number of purchases. this is just the length
len(total_purchased_item)

780

In [5]:
#total revenue
total_revenue = "${:,.2f}".format(total_purchased_item.sum())

In [6]:
# creating a new dataframe for (PURCHASING ANALYSIS)
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [len(unique_item)],
                          "Average Purchase Price": [average_purchase_price],
                       "Total Number of Purchases": [len(total_purchased_item)],
                       "Total Revenue":[total_revenue]
                          }
)

In [7]:
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [8]:
#create a dataframe with: unique players, gender
gender_df = pd.DataFrame({"Player": pdpath["SN"],
                          "Gender": pdpath["Gender"],
                        "Age": pdpath["Age"]
                         })

In [9]:
#dropping/filtering by UNIQUE Player:
gender_df.drop_duplicates(subset = "Player", keep = "first", inplace = True)

In [10]:
# creating a "Gender Demographics" dataframe
gender_demo_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
                          "Total Count": [len(gender_df[gender_df["Gender"]=="Male"]), len(gender_df[gender_df["Gender"]=="Female"]), len(gender_df[gender_df["Gender"]=="Other / Non-Disclosed"])],
                               "Percentage of Players": ["{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Male"])/len(gender_df["Gender"])*100)),"{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Female"])/len(gender_df["Gender"])*100)), "{0:.2f}%".format((len(gender_df[gender_df["Gender"]=="Other / Non-Disclosed"])/len(gender_df["Gender"])*100))]
                             })

In [11]:
#Putting GENDER as Index
gender_demo_df = gender_demo_df.set_index("Gender")

In [12]:
gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [13]:
#instead of doing all the calculations in/on the dataframe creation, We are storing each individual calculated
# values into a list, then storing the list into the dataframe

#creating a list for Female's Average purchase price. formatting will put the $ AND 2 decimal points.
female_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Female",["Price"]])))

#creating a list for male's Average purchase price. formatting will put the $ AND 2 decimal points.
male_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Male",["Price"]])))

#creating a list for other gender's Average purchase price. formatting will put the $ AND 2 decimal points.
other_avg_purchase_price = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()/len(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]])))

#creating female's total purchase value:
female_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()))

#creating male's total purchase value:
male_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()))

#creating other gender's total purchase value:
other_total_purchase = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()))

#creating female's average total purchase per PERSON: 
#NOTE: we are dividing the total purchase value of ALL female by the UNIQUE count of all female.
# this will be the same while calculating male and other gender's average total purchase per person.
# we are pulling the unique count of gender FROM the "gender_df" dataframe, because it already filtered the unique value.
female_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Female",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Female"])))

#now doing it for male and other gender:
male_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Male",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Male"])))
other_avg_purc_perperson = "${:,.2f}".format(float(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]].sum()/len(gender_df.loc[gender_df["Gender"]=="Other / Non-Disclosed"])))

# now that all the variables have been set, we can finally create a dataframe to hold all the values.
# creating a "Purchasing Analysis (Gender)" dataframe
purchasing_analysis_df = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"],
      "Purchase Count":[len(pdpath.loc[pdpath["Gender"]=="Female",["Price"]]), len(pdpath.loc[pdpath["Gender"]=="Male",["Price"]]), len(pdpath.loc[pdpath["Gender"]=="Other / Non-Disclosed",["Price"]])],
      "Average Purchase Price":[female_avg_purchase_price,male_avg_purchase_price,other_avg_purchase_price],
      "Total Purchase Value":[female_total_purchase,male_total_purchase,other_total_purchase],
      "Avg Total Purchase per Person":[female_avg_purc_perperson,male_avg_purc_perperson,other_avg_purc_perperson]
    
})

In [14]:
#Putting GENDER as Index
purchasing_analysis_df = purchasing_analysis_df.set_index("Gender")
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,113,$3.20,$361.94,$4.47
Female,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [15]:
# creating a copy of the dataframe (gender_df), which already filter the unique user
gender_df2 = pd.DataFrame(gender_df)

#creating a new column in that dataframe, that has the percentage value. so each player has the same amount of percentage.
gender_df2["Percentage of Players"] = 1/576

In [16]:
# for Age Demographics analysis, we need to establish Age bin list
age_bin = [0,9,14,19,24,29,34,39,100]
age_group = ["Less than 10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#creating a new dataframe to store AgeDemographics 
AgeDemographics = pd.DataFrame(gender_df2)
AgeDemographics["Age Ranges"] = pd.cut(AgeDemographics["Age"], age_bin, labels=age_group, include_lowest=True)

#creating a new list to hold the "age ranges" on the groupby:
test_list = AgeDemographics.groupby("Age Ranges")

#creating a new dataframe to hold the values:
test_df2 = pd.DataFrame(test_list.count().head(8))

#creating a new dataframe to hold the percentage of players
test_df3 = pd.DataFrame(test_list["Percentage of Players"].sum())
test_df3["Percentage of Players"] = test_df3["Percentage of Players"]

#now compiling different columns from different dataframes:
age_demographics_df = pd.DataFrame({"Total Count":(test_df2["Player"]),
                         "Percentage of Players":(test_df3["Percentage of Players"].map("{:,.2%}".format))
    })

#printing Age Demographics
age_demographics_df

              Total Count Percentage of Players
Age Ranges
Less than 10           17                 2.95%
10-14                  22                 3.82%
15-19                 107                18.58%
20-24                 258                44.79%
25-29                  77                13.37%
30-34                  52                 9.03%
35-39                  31                 5.38%
40+                    12                 2.08%

In [37]:
#creating a new dataframe to store Purchasing Analysis(age), using the original dataframe

age_purchase_analysis1 = pd.DataFrame(pdpath)

#binning, using the age ranges (already created previously):
age_purchase_analysis1["Age Ranges"] = pd.cut(age_purchase_analysis1["Age"], age_bin, labels=age_group, include_lowest=True)

#in order to use the group by:
test1 = age_purchase_analysis1.groupby("Age Ranges")

#create a new dataframe to hold all the values
age_purchase_analysis = pd.DataFrame({  "Purchase Count":test1["Purchase ID"].count(),
                                        "Average Purchase Price": test1["Price"].mean(),
                                      "Total Purchase Value": test1["Price"].sum(),
                                      "Avg Total Purchase per Person": test1["Price"].sum()/test_list["Player"].count()
                                     })

#formating the $ sign and rounding to 2 decimal points.
age_purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

In [66]:
file1 = pdpath2.groupby(["SN"])

In [83]:
file2 = file1.count().head(5000)

In [87]:
file2.sort_values(by = "Age", ascending=False).head(5)

             Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Lisosia93              5    5       5        5          5      5
Iral74                 4    4       4        4          4      4
Idastidru52            4    4       4        4          4      4
Asur53                 3    3       3        3          3      3
Inguron55              3    3       3        3          3      3

In [ ]:
file3 = file2